@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F5FA;
}
.nav_links li {
  display: inline-block;
  padding: 0vh 2vh;
}

.container {
  display: flex;
  padding-top: 3vh;
  width: 100%;
}

.img_container1 {
  width: 50%;
  height: 60vh;
}

.work {
  width: 100%;
  height: 60vh;
}
.container2 {
  width: 50%;
  height: 60vh;
  background-color: #F4F5FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left:10vw;
}
.h2container{
  font-size: 45px;
}
.pcontainer{
  margin-top:2vw;
  color:#757580;
}
.p{
  margin-top: 2
}
p{
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 40px;
}
.btn_inside {
    margin-top: 2vw;
    width: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: #EB1C24;
    color: #FBD5D5;
    padding: 1.5vh;

}
.icon_button{
margin-top: 10p
}
.column0 {
  width: 25%;
  height: 30vh;
  border: 1px solid black;
}
.column1 {
  width: 25%;
  height: 30vh;
  border: 1px solid black;
}
.column2 {
  width: 25%;
  height: 30vh;
  border: 1px solid black;
}

.column3 {
  width: 25%;
  height: 30vh;
  border: 1px solid black;
}

.container_services{
 display: flex;
}

.column_services{
 width: 25%;
 height: 40vh;
 border: 1px solid black;
}

.column_services1{
 width: 25%;
 height: 40vh;
 border: 1px solid black;
}

.column_services2{
 width: 25%;
 height: 40vh;
 border: 1px solid black;
}

.column_services3{
 width: 25%;
 height: 40vh;
 border: 1px solid black;
}

.container_about{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container_about_inside{
  width: 50%;
  height: 60vh;
  background-color: #f4f5fa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row{
  display: flex;
  flex-direction: column;
}
.advantages__container{
  width:75%;
  height: 80vh;
  margin-left: 25%;
  background-color:#F4F5FA ;
  display: flex;
  flex-direction: row;
}
.advantages_row1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  width: 33%;
}

h2{
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 2.7vw;
  color:#2E3040;
}

.advantages_row2{
  width: 33%;
  padding-top: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  list-style: none;
}

.advantages_row3{
  width: 33%;
  padding-top:22vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
.fotter{
  margin-top: 2vh;
}

.link_fotter{
  text-decoration: none;
  color: #ED353D;
  text-transform: uppercase;
  margin-left:4vw;
}