@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
 background-color: #FFFFFF;
 color: black;
 font-family: "Raleway";
 font-weight: 500;
}

.header{
 width: 100%;
 padding: 50px 0;
 background-color: white;
}

.header__container{
 width: 83vw;
 max-width: 1440px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header__left{
 display: flex;
 flex-direction: row;
 margin-left: 5vw;
}
.header__logo{
 color:#5282E3;
}
.header__links{
 text-decoration: none;
 display: inline-block;
 margin-right: 15px;
 color: #656B7D;
}
.header__links:hover{
 color: #719ED9;
}
.header__container__right{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-right: 5vw;
}

.header__container__social{
  margin: 1vw;
}
.container__languages{
 display: flex;
 flex-direction: row;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hero__container1{
  width: 50%;
}

.hero__img1 {
  width: 100%;
}

.hero__info{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 8vw;
}

.hero__title--alt{
  text-transform: uppercase;
  font-size: 50px;
  color: #719ED9;
}

.hero__title{
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1;
}

.hero__text{
width: 55%;
line-height: 1.5;
margin-top: 10px;
margin-bottom: 20px ;
}
.services__header{
  width: 73.5vw;
}
.header__services__left{
 text-transform: uppercase;
}
.btn__left{
  display: inline-block;
  padding: 20px 30px;
  border-radius: 4px;
  background-color: #2251D9;
  color:#E3ECF8;
  font-size: 15px;
}

.btn__left:hover{
  background-color: #2251A0;
}
.btn__rigth{
  display: inline-block;
  padding: 20px 30px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  color:black;
  font-size: 15px;
}

.services{
  padding: 100px 0 50px;
  margin-left: 13vw;
  margin-right: 10vw;
}

.services__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.services__container{
  width: 80vw;
}

.service__list{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.service{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.service__reference{
  text-transform: uppercase;
  margin-bottom: 20px ;
  
}
.service__container__list{
  width: 15vw;
  margin-left: 1vw;
}

.service__text{
  color: #8C90A4;
}

.service__btn{
  margin-left: 3.5vw ;
  display: inline-block;
  padding: 60px 65px;
  border-radius: 4px;
  background-color: #2251D9;
  color:#E3ECF8;
  font-size: 15px;
}

.footer{
  margin-left: 10vw;
  width: 76.5vw;
}


.footer__container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.footer__text__left{
  display: flex;
  flex-direction: column;
  width: 23vw;
}
.footer__contacts{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__text__ready{
  color: #5282E3;
  text-transform: uppercase;
  font-size: 50px;
  width: 5vw;
}

.footer__text__work{
  color: black;
  font-size: 40px;
  text-transform: uppercase;
}

.footer__text{
  color:#9BA1B3;
  margin-top:3vh ;
  width: 14vw;
}

.footer__btn{
  display: inline-block;
  padding: 20px 30px;
  border-radius: 4px;
  background-color: #2251D9;
  color:#E3ECF8;
  font-size: 15px;
  margin-top:3vh ;
}
